<nav class="navbar navbar-expand-md navbar-light shadow-sm bg-light serif">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
          <a class="btn dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Book
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <app-data-book-list></app-data-book-list>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="btn dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Text
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <app-data-wit-list></app-data-wit-list>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="btn dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Show
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <app-data-files-list></app-data-files-list>
          </div>
        </li>
      </ul>
  </div>
  <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">bhde</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
          <a class="btn dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item"><a class="nav-link">Item</a></li>
          </div>
        </li>
      </ul>
  </div>
</nav>