/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

$brand-color--1 : #646f8d;

$brand-font--sans1: "Source Sans Pro","Helvetica" Neue,Helvetica,Arial,sans-serif;
$brand-font--serif1 : "Rosarivo", serif ;
$brand-font--sans: "Lato",sans-serif;
$brand-font--serif : "Lato", sans-serif ;

.bg-brand--1{
    background: $brand-color--1
}

.sans, .sans *{
    font-family: $brand-font--sans;
}

.serif, .serif * {
    font-family: $brand-font--serif;
}